/*
Website Name: Tribe412Fitness
Theme URI: tribe412fitness.com
Author: Michael Riccelli
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Branding Variables
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Utility Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Branding Variables
--------------------------------------------------------------*/
:root {
  /*colors*/
  --tribe-black: rgb(0,0,0);
  --tribe-grey: rgb(204,204,204);
  --tribe-primary-blue: rgb(8,194,245);
 
  /*typography*/
  --tribe-heading: font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  --tribe-paragraph: font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
  background: #fff;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: var(--tribe-paragraph);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--tribe-heading);
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
p {
  font-family: var(--tribe-paragraph);
}

/* links */
a {
  text-decoration: none;
  font-family: var(--tribe-paragraph);
  font-weight: 500;
  color: var(--tribe-primary-blue);
  transition: 0.5s;
}
a:hover {
  color: #07a6d1;
}
a:hover i.fas.fa-angle-double-right {
  padding-left: 10px;
}

::selection {
  background: #0cc2f6;
  color: #fff;
}
.btn {
  border-radius: 0;
  font-family: var(--tribe-heading);
}
.btn-primary {
  background: none;
  border: 1px solid #fff;
  color: #fff;  
}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.call-to-action-one {
  background:none;
  border: 1px solid #fff;
  color: #fff; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}
.call-to-action-one:hover {
  background: var(--tribe-black);
  border: 1px solid #fff;
}
.call-to-action-two {
  border: 1px solid var(--tribe-primary-blue);
  color: var(--tribe-primary-blue); 
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}
.call-to-action-two:hover {
  background: var(--tribe-primary-blue);
  border: 1px solid #fff;
  color: #fff;
}
span {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

sub, sup {
  position: relative;
  font-size: 55%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
a:hover, a:focus,
i:hover,
i:focus,
span:hover,
span:focus {
  text-decoration: none;
}

a i {
  -webkit-transition: none;
  transition: none;
}

ul {
  margin: 0;
  padding: 0;
}
* General Media Query ------------------------------------- */
@media (max-width: 767px) {
  nav.navbar .search-btn {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
}

@media (max-width: 575px) {
  nav.navbar .container {
    width: 100%;
  }
  .breadcrumb li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* ======== UTILITY CLASSES ========*/
.bg-blue {
  background: var(--tribe-primary-blue);
  color: #fff;
}
/*
* ==========================================================
*     NAVBAR
* ==========================================================
*/
button:focus {
  outline: 1px dotted;
  outline: none;
}
img#tribe-brand {
  width: 160px;
}
.navbar {
  background: var(--tribe-black);
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 9998;
  border-top: 8px solid var(--tribe-primary-blue);
}


.navbar .navbar-toggler {
  margin-top: 5px;
}

.navbar .navbar-toggler span {
  width: 20px;
  height: 2px;
  background: #fff;
  margin-bottom: 4px;
  display: block;
}

.navbar .navbar-toggler span:last-of-type {
  margin-bottom: 0;
}

.navbar .navbar-toggler.active span {
  margin: 0;
}

.navbar .navbar-toggler.active span:first-of-type {
  -webkit-transform: rotate(45deg) translate(3px);
  transform: rotate(45deg) translate(3px);
}

.navbar .navbar-toggler.active span:nth-of-type(2) {
  opacity: 0;
}

.navbar .navbar-toggler.active span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(3px);
  transform: rotate(-45deg) translate(3px);
}

.navbar .langs a {
  font-size: 0.8em;
  color: #aaa;
  font-weight: 700;
}

.navbar .langs a.active {
  color: #333;
}

.navbar .langs span {
  width: 15px;
  height: 1px;
  background: #ddd;
  margin: 0 5px;
}

.navbar .search-area {
  display: none;
  z-index: 9999;
}

.navbar .search-area-inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.99);
  padding: 20px !important;
}

.navbar .search-area-inner .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar .search-area-inner .row {
  width: 100%;
}

.navbar .search-area-inner .form-group {
  position: relative;
}

.navbar .search-area-inner .submit {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.navbar .search-area-inner input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  background: none;
  padding: 10px 0;
  font-size: 1.6em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.navbar .search-area-inner input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-weight: 300;
  font-size: 1.1em;
}

.navbar .search-area-inner input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-weight: 300;
  font-size: 1.1em;
}

.navbar .search-area-inner input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-weight: 300;
  font-size: 1.1em;
}

.navbar .navbar-nav a.nav-link {
  color: #fff;
  margin: 0 5px;
  font-weight: 700;
  font-size: 0.95em;
}

.navbar .navbar-nav a.nav-link:hover {
  color: var(--tribe-primary-blue);
  font-weight: 700;
}

.navbar .navbar-nav a.nav-link.active {
  color: var(--tribe-primary-blue);
  font-weight: 700;
   
}

/* Navbar Media Query ------------------------------------- */
@media (max-width: 991px) {
  nav.navbar .navbar-header {
    width: 100%;
  }
  nav.navbar::after {
    width: 100%;
  }
  nav.navbar.active::after {
    width: calc(100% - 170px);
  }
  nav.navbar .search-area {
    font-size: 0.75em;
  }
}

header.masthead {
  text-align: center;
  color: #fff;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 120px;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: var(--tribe-heading);
}
@media (min-width: 768px){
  header.masthead .intro-text .intro-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: var(--tribe-heading);
}
}
section {
  padding-top: 75px;
  padding-bottom: 100px;
}
section#why-tribe h1 {
  margin-bottom: 1.5rem;
}
.edge--bottom {
  position: relative;
  z-index: 1;
}

.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

section#workouts {
  background-image: url('../img/workouts-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#workouts .workouts--text {
  margin-bottom: 3rem;
}

section#pricing {
  background: var(--tribe-black);
  color: #fff;
  background-image: url('../img/header-bg-pricing.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#pricing .price-box {
  border: 1px solid white;
  padding: 24px;
  background: var(--tribe-black);
  margin-top: 40px;
  transition: .5s;
}

section#pricing .price-box h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

section#pricing .price-box:hover {
  background: var(--tribe-primary-blue);
  transform: translateY(-5px);

}

section#pricing .price-header > h2 {
  font-size: 60px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  left: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

section#pricing .currency {
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  /* margin-right: 6px; */
  right: 100%;
  top: 21px;
}
.mind-body {
  margin-top: 15px;
}
section#mind-body img {
    width: 200px;
}